<head>
<link rel="stylesheet" href="./leaflet-js/leaflet.css" />
<link rel="stylesheet" href="./bootstrap-native/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<style>
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  #mymap {
      width: 100%;
      height: 100%;
      position: absolute;
  }

  @keyframes fade { 
    from { opacity: 0.5; } 
  }

  .blinking {
    animation: fade 1s infinite alternate;
  }

  .btn-zoom {
    width:50px;
    height:50px;
    font-size: 25px;
    border: 0;
  }

  .btn-zoom:active:focus {
    outline: none;
    border: 0;
    box-shadow: none;
  }

  .bg-dark {
    color:white;
    background-color: #232323 !important;
  }
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Barangay San Pablo</a>
    </div>
<!--     <ul class="nav navbar-nav">
      <li><a href="#">Map</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#loginModal" id="loginBtn"><i class="fa fa-user"></i> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid" id="mymap"></div>

<div class="bg-dark" style="right:0;height:100px;width:50px;position:absolute;z-index:1;margin-top: 5%; ">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn bg-dark btn-md btn-zoom" title="Zoom In" id='zoomIn'>+</button>
    </div>
    <div class="col-md-12">
      <button type="button" class="btn bg-dark btn-md btn-zoom" title="Zoom Out" id='zoomOut'>-</button>
    </div>
  </div>
</div>


<!-- Modal Login -->
<div id="loginModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="exampleModalLabel">Login</h2>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" id="input_email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="input_password" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="modalLoginBtn">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Login End-->

<script src="./leaflet-js/leaflet.js"></script>
<script src="bootstrap-native/assets/js/bootstrap-native.js"></script>
<script type="module" src="./services/Authenticate.js"></script>

<script type="module">
  import Auth from './services/Authenticate.js';
  
  var btnLogin = document.getElementById("modalLoginBtn");

  btnLogin.addEventListener('click', function() {
  var arr = {};
  arr['username'] = document.getElementById('input_email').value;
  arr['password'] = document.getElementById('input_password').value;

  const callback = Auth.authenticate('/Http/Login.php',arr);

  });

</script>

<script>
var modalFrame = document.getElementById('loginModal'); 
// we grab the button trigger by it's ID
var btnModal = document.getElementById('loginBtn'); 

btnModal.addEventListener('click', function() {

});

var map = L.map('mymap',{
    center: [9.555383361779741,125.56974470615387],
    scrollWheelZoom: false,
    zoomControl: false,
    zoom: 18
});

var mb = L.tileLayer('BarangayMap/{z}/{x}/{y}.png',{
    minZoom:16,
    maxZoom:18
}).addTo(map);

var polygon = L.polygon([
    [9.556163634404413, 125.56999146938325],
    [9.555862105534407,125.5704313516617],
    [9.555460066625512, 125.57089269161226],
    [ 9.55498925729958, 125.57056546211244],
    [9.555565866384416, 125.56971788406373]
])
.setStyle({className:'blinking',color:'red',weight:0.5})
.addTo(map);

marker_count = 0;
mymarker = [];
document.getElementById('zoomIn').addEventListener('click', function () {
    map.setZoom(map.getZoom() + 1);
});

document.getElementById('zoomOut').addEventListener('click', function () {
    map.setZoom(map.getZoom() - 1);
});
map.on('click', function(e){
  var coord = e.latlng;
  var lat = coord.lat;
  var lng = coord.lng;
  console.log("You clicked the map at latitude: " + lat + " and longitude: " + lng);
 mymarker[marker_count] = new L.Marker(e.latlng, {
               draggable: true
             });
 mymarker[marker_count].addTo(map);
  mymarker[marker_count].bindPopup("latitude: " + lat + " <br> longitude: " + lng + '<button onclick="deleteMarker(\''+marker_count+'\')">x</button>');

        var popup = L.popup()
        .setLatLng(coord)
        .setContent("latitude: " + lat + " <br> longitude: " + lng)
        .openOn(map); 
setTimeout(()=> {popup.remove();},500);
mymarker[marker_count].on('dragend', function (dragend) {
    // updateLatLng(mymarker[marker_count].getLatLng().lat, mymarker[marker_count].getLatLng().lng);
    this.bindPopup("This marker, latitude: " + this.getLatLng().lat + " <br> longitude: " + this.getLatLng().lng);
    });
  marker_count++;
  });

function updateLatLng(lat,lng,reverse) {
if(reverse) {
marker.setLatLng([lat,lng]);
map.panTo([lat,lng]);
} else {
document.getElementById('latitude').value = marker.getLatLng().lat;
document.getElementById('longitude').value = marker.getLatLng().lng;
map.panTo([lat,lng]);
}

}

function deleteMarker(marker_id) {
  mymarker[marker_id].remove();
}

</script>
</body>